parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
